<div class="col-12 col-md-3 col-xl-2 bd-sidebar">
  <nav class="bd-links collapse show mt-3">
    <div class="bd-toc-item">
      <ul class="nav bd-sidenav">
        <li class="active bd-sidenav-active">
          <%= link_to 'Locações', admin_rentals_path, class: 'nav-link' %>
        </li>
      </ul>
    </div>
  </nav>
</div>
