<div class="wrapper">
  <nav id="sidebar">
    <div class="sidebar-header">
      <h3>Sidebar title</h3>
    </div>

    <ul class="list-unstyled components">
      <p>Dummy heading</p>
      <li>teste</li>
    </ul>
  </nav>
</div>