<h1 class="center">Questões</h1>

<p>Qual é o custo total de todas as locações de carros?</p>
<p>Qual o nome completo das pessoas que possuem atrasos em suas locações e o quanto (dias; horas; minutos)</p>
<p>Qual o nome completo das pessoas que podem alugar caminhões?</p>
<p>Qual o nome completo das pessoas com locações em andamento?</p>
<p>Qual o nome completo das pessoas que podem alugar automóveis por mais de 4 dias?</p>
<p>Quais automóveis não podem ser alugados às quartas-feiras?</p>
<p>Qual será o custo de uma locação de moto por 3 dias?</p>
<p>Liste as pessoas ordenando pelo custo de locações (maior para menor)</p>
<p>Liste as pessoas para as quais a habilitação possui menos de 1 mês para seu vencimento</p>
