<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">
    <%= image_tag 'logo.png', width: "78", height: "25", alt: "guihatano logo" %>
  </a>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to 'Home', root_path, class: "nav-link" %>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <% if admin_signed_in? %>
          <%= link_to('Logout', destroy_admin_session_path, method: :delete) %>
        <% else %>
          <%= link_to('Login', new_admin_session_path) %>
        <% end %>
      </li>
    </ul>
  </div>
</nav>